.fade1{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fade1;
    animation-name: fade1;
}
@keyframes fade1{
    from{
        opacity: 0;

    }
    to{
        opacity: 1;
    }

}

.fade2{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fade2;
    animation-name: fade2;
}
@keyframes fade2{
    from{
        opacity: 0;

    }
    to{
        opacity: 1;
    }

}

.fade3{
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fade3;
    animation-name: fade3;
}
@keyframes fade3{
    from{
        opacity: 0;

    }
    to{
        opacity: 1;
    }

}



.fadeInRight{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

@keyframes fadeInRight{
    from{
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

}

.fadeInRight1{
    -webkit-animation-duration: 1.5s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInRight1;
    animation-name: fadeInRight1;
}

@keyframes fadeInRight1{
    from{
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

}

.fadeInRight2{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInRight2;
    animation-name: fadeInRight2;
}

@keyframes fadeInRight2{
    from{
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

}

.fadeInLeft{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
@keyframes fadeInLeft{
    from{
        opacity: 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

}

.fadeInDown{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@keyframes fadeInDown{
    from{
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    to{
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

}

.fadeInDown1{
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown1;
    animation-name: fadeInDown1;
}
@keyframes fadeInDown1{
    from{
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    to{
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

}

.fadeInDown2{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown2;
    animation-name: fadeInDown2;
}
@keyframes fadeInDown2{
    from{
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    to{
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

}

.fadeInTop{
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInTop;
    animation-name: fadeInTop;
}
@keyframes fadeInTop{
    from{
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

}

.fadeInTop1{
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInTop1;
    animation-name: fadeInTop1;
}
@keyframes fadeInTop1{
    from{
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

}

.fadeInTop2{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInTop2;
    animation-name: fadeInTop2;
}
@keyframes fadeInTop2{
    from{
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    to{
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

}