
.plataforms {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    background-color: var(--whiteColor);
    padding: 5px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.plataform {
    width: 100px;
    height: 70px;
    flex-shrink: 0;
    object-fit: contain;
    filter: grayscale(1) contrast(.5);
}

@media screen and (max-width: 499px) {
    .plataforms {
        flex-wrap: wrap;
        justify-content: center;
    }
    .plataform {
        margin: 5px;
    }

}