.sectionSkills {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.sectionSkills > * {
    width: 270px;
    height: auto;
    padding: 1em;
    border-radius: 10px;
    flex-shrink: 0;
    transition: all 0.3s;
    flex-shrink: 0;
    box-shadow: var(--shadow);
}

.sectionSkillsWeb {
    /* border: 1px solid var(--grayColor); */
    background-color: var(--whiteColor);
    box-shadow: var(--shadow);
}

.sectionSkillsLenguage {
    /* border: 1px solid var(--grayColor); */
    background-color: var(--whiteColor);
    box-shadow: var(--shadow);
}

.sectionSkillsDesign {
    /* border: 1px solid var(--grayColor); */
    background-color: var(--whiteColor);
    box-shadow: var(--shadow);
}

.sectionSkillsTitle1 {
    /* border: 1px solid var(--grayColor); */
    background-color: var(--backgroundColor);
    color: var(--blueColor);
    font-weight: 600;
    padding: 0.5em;
    display: block;
    border-radius: 5px;
}

.sectionSkillsTitle2 {
    /* border: 1px solid var(--grayColor); */
    background-color: var(--backgroundColor);
    color: var(--redColor);
    font-weight: 600;
    padding: 0.5em;
    display: block;
    border-radius: 5px;
}

.sectionSkillsTitle3 {
    /* border: 1px solid var(--grayColor); */
    background-color: var(--backgroundColor);
    color: var(--greenColor);
    font-weight: 600;
    padding: 0.5em;
    display: block;
    border-radius: 5px;
}


.sectionSkillsWebItems {
    margin-top: 1em;
    
}
.sectionSkillsWebItems span {
    background-color: var(--backgroundColor);
    color: var(--grayColor2);
    font-weight: 500;
    padding: 3px 9px;
    line-height: 30px;
    border-radius: 5px;
}

.sectionSkillsLenguageItems {
    margin-top: 1em;
}
.sectionSkillsLenguageItems span{
    background-color: var(--backgroundColor);
    color: var(--grayColor2);
    font-weight: 500;
    padding: 3px 9px;
    line-height: 30px;
    border-radius: 5px;
}

.sectionSkillsDesignItems {
    margin-top: 1em;
}
.sectionSkillsDesignItems span {
    background-color: var(--backgroundColor);
    color: var(--grayColor2);
    font-weight: 500;
    padding: 3px 9px;
    line-height: 30px;
    border-radius: 5px;
}

@media screen and (max-width: 910px) {
    .sectionSkills {
        overflow: auto;
    }
    .sectionSkillsWeb  {
        margin-right: 10px;
    }
    .sectionSkillsLenguage {
        margin-right: 10px;
    } 
    .sectionSkillsDesign {        
        margin-right: 10px;
    }
}