.sectionSkills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.sectionSkills > * {
    width: 270px;
    height: auto;
    padding: 1em;
    border-radius: 10px;
    flex-shrink: 0;
    transition: all 0.3s;
}

.sectionSkillsWeb {
    border: 1px solid var(--grayColor);
    background-color: var(--whiteColor);
}

.sectionSkillsLenguage {
    border: 1px solid var(--grayColor);
    background-color: var(--whiteColor);
}

.sectionSkillsDesign {
    border: 1px solid var(--grayColor);
    background-color: var(--whiteColor);
}

.sectionSkillsTitle1 {
    background-color: var(--backgroundColor);
    border: 1px solid var(--grayColor);
    color: var(--blueColor);
    font-weight: 600;
    padding: 0.5em;
    display: block;
    border-radius: 5px;
}

.sectionSkillsTitle2 {
    background-color: var(--backgroundColor);
    border: 1px solid var(--grayColor);
    color: var(--redColor);
    font-weight: 600;
    padding: 0.5em;
    display: block;
    border-radius: 5px;
}

.sectionSkillsTitle3 {
    background-color: var(--backgroundColor);
    border: 1px solid var(--grayColor);
    color: var(--greenColor);
    font-weight: 600;
    padding: 0.5em;
    display: block;
    border-radius: 5px;
}


.sectionSkillsWebItems {
    margin-top: 1em;
    
}
.sectionSkillsWebItems span {
    background-color: var(--backgroundColor);
    color: var(--grayColor2);
    font-weight: 500;
    padding: 3px 9px;
    line-height: 30px;
    border-radius: 5px;
}

.sectionSkillsLenguageItems {
    margin-top: 1em;
}
.sectionSkillsLenguageItems span{
    background-color: var(--backgroundColor);
    color: var(--grayColor2);
    font-weight: 500;
    padding: 3px 9px;
    line-height: 30px;
    border-radius: 5px;
}

.sectionSkillsDesignItems {
    margin-top: 1em;
}
.sectionSkillsDesignItems span {
    background-color: var(--backgroundColor);
    color: var(--grayColor2);
    font-weight: 500;
    padding: 3px 9px;
    line-height: 30px;
    border-radius: 5px;
}

@media screen and (max-width: 910px) {
    .sectionSkills {
        display: block;
    }
    .sectionSkillsWeb  {
        width: auto;
        height: auto;
        margin-bottom: 20px;
    }
    .sectionSkillsLenguage {
        width: auto;
        height: auto;
        margin-bottom: 20px;
    } 
    .sectionSkillsDesign {        
        width: auto;
        height: auto;
        margin-bottom: 20px;
    }
}