@import "/assets/css/aboutMe.css";
@import "/assets/css/footer.css";
@import "/assets/css/plataforms.css";
@import "/assets/css/sectionPortfolio.css";
@import "/assets/css/tooltips.css";
@import "/assets/css/sectionSkills.css";
@import "/assets/css/sectionInfo.css";
@import "/assets/css/menuResponsive.css";
@import "/assets/css/animations.css";
@import "/assets/css/hero.css";
@import "/assets/css/header.css";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --primaryColor: rgb(255,216,0);
    --primaryColorTransparent: rgba(255, 216, 0, 0.3);
    --secondaryColor: #333;
    --secondaryColorTransparent: rgba(51, 51, 51, 0.7);
    --backgroundColor: rgb(245,245,245);
    --grayColor: rgb(240,240,240);
    --grayColor2: rgb(150,150,150);
    --whiteColor: rgb(255, 255, 255);
    --whiteColorTransparent: rgba(255, 255, 255, 0.7);
    --blueColor: rgba(66, 134, 244, 0.8);
    --redColor: rgba(234, 68, 53, 0.8);
    --greenColor: rgba(52, 168, 83, 0.8);
    --shadow: 0px 8px 5px -5px rgba(0,0,0,0.1);
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--backgroundColor);
}


.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
}

/* * {
    border: 1px solid red;
} */

@media screen and (max-width: 500px) {
    .main {
        margin-top: 50px;
    }
}