.tooltip {
    position: relative;
}

.tooltip span {
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #333;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 5px 10px;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    bottom: -30px;
    z-index: 1000;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }